{% extends "header.html" %}
{% block body %}

<div class="jumbotron mt-3 p-5">
  <h1 class="display-4">Inventory Manager</h1>
  <p class="lead">A simple web application based on python flask web framework. </p>
</div>
<div class="card-group">
  <div class="card m-1" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='product.jpeg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Products</h5>
      <p class="card-text">Manage your products here.</p>
      <a href="{{ url_for('products') }}" class="btn btn-primary"><span class="fa fa-arrow-right"></a>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='product.jpeg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Warehouses</h5>
      <p class="card-text">Manage your warehouses here.</p>
      <a href="{{ url_for('warehouses') }}" class="btn btn-primary"><span class="fa fa-arrow-right"></a>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='product.jpeg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Transfers</h5>
      <p class="card-text">Manage your transfers here.</p>
      <a href="{{ url_for('transfers') }}" class="btn btn-primary"><span class="fa fa-arrow-right"></a>
    </div>
  </div>
</div>
{% endblock %}