{% extends "header.html" %}
{% block body %}
  <div class="container-fluid">
    <div class="jumbotron mt-3 p-5" style="position: relative">
      <a href="/" role="button" class="btn btn-sm btn-default" style="position: absolute; top: 12px; left: 12px;"><span class="fa fa-home"></span></a>
      <h1 class="display-4">Products</h1>
      <p class="lead">You can add, edit and view your products.</p>
      <a class="btn btn-primary" data-toggle="modal" data-target="#addProduct" href="#" role="button">Add a product</a>
    </div>
  </div>
  <div class="container-fluid">
    <table id="productTable" class="table table-borderless table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product['pid'] }}</td>
            <td>{{ product['pname'] }}</td>
            <td>{{ product['pqty'] }}</td>
            <td>
              <button class="editProduct btn btn-sm btn-outline-info" data-toggle="modal" data-target="#editProduct" data-pid="{{ product['pid'] }}" data-pqty="{{ product['pqty'] }}" data-pname="{{ product['pname'] }}">Edit</button>

              <button class="transferProduct btn btn-sm btn-outline-success"  data-toggle="modal" data-target="#transferProduct" data-pid="{{ product['pid'] }}" data-pqty="{{ product['pqty'] }}" >Transfer</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enter new product's details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-4">
            <form action="/products/" method="POST">
              <div class="form-group">
                <label for="pID" class="">ID</label>
                <div class="">
                  <input type="text" class="form-control" id="pID" name="p_id">
                </div>
              </div>
              <div class="form-group">
                <label for="pName" class="">Name</label>
                <div class="">
                  <input type="text" class="form-control" id="pName" name="p_name">
                </div>
              </div>
              <div class="form-group">
                <label for="pQty" class="">Quantity</label>
                <div class="">
                  <input type="text" class="form-control" id="pQty" name="p_qty">
                </div>
              </div>
              <button type="submit" class="btn btn-primary mb-2 mt-2">Done</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Change product's details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <form action="/products/edit/" method="POST">
                <div class="form-group">
                  <label for="pID" class="">ID</label>
                  <div class="">
                    <input type="text" readonly class="form-control" id="pID" name="p_id">
                  </div>
                </div>
                <div class="form-group">
                  <label for="pName" class="">Name</label>
                  <div class="">
                    <input type="text" class="form-control" id="pName" name="p_name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="pQty" class="">Quantity</label>
                  <div class="">
                    <input type="text" class="form-control" id="pQty" name="p_qty">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2 mt-2">Done</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="transferProduct" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Transfer product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <form action="/transfers/" method="POST">
                <div class="form-group">
                  <label for="pID" class="">ID</label>
                  <div class="">
                    <input type="text" readonly class="form-control" id="pID" name="p_id">
                  </div>
                </div>
                <div class="form-group">
                  <label for="tQty" class="">Quantity</label>
                  <div class="">
                    <input type="number" class="form-control" id="tQty" name="t_qty">
                  </div>
                </div>
                <div class="form-group">
                  <label for="tFrom" class="">From</label>
                  <div class="">
                    <input type="text" readonly class="form-control" id="tFrom" name="t_from" value="None">
                  </div>
                </div>
                <div class="form-group">
                  <label for="tTo" class="">To</label>
                  <div class="">
                    <select class="form-control" id="tTo" name="t_to">
                      {% for warehouse in warehouses %}
                      <option value="{{ warehouse['wid'] }}">{{ warehouse['wname'] }} - {{ warehouse['wloc'] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2 mt-2">Done</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}